amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
Click==7.0
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
numpy==1.15.2
pytz==2018.5
scikit-learn==0.20.0
scipy==1.1.0
sklearn==0.0
SQLAlchemy==1.2.12
tornado==5.1.1
vine==1.1.4
Werkzeug==0.14.1
